<navbar>
    <section class="navbar-section">
        <div id="navbar">
            <div class="logo">
                <a href="#">
                       <img src="image/emag-logo.png" alt="Emag Studio logo">
                <p><a href="#">EMAG Studios</a> </p>
                </a>
             
            </div>
            <div class="navbar-options">
                <ul>
                    <li><a href="#">Home </a></li>
                    <li><a href="#game-section">Games </a></li>
                    <li><a href="#about-section">About </a></li>
                    <li><a href="#team-section">Team </a></li>
                    <li><a href="#contact-section">Contact </a></li>
                </ul>
            </div>
            <div id="right-navbar">
                <button class="nav-btn open-btn">
                    <i class="fas fa-angle-double-left"></i>
                </button>

                <div class="nav nav-index-3">
                    <button class="nav-btn close-btn">
                        <i class="fas fa-times"></i>
                    </button>

                    <ul class="list">
                        <li class="nav-option"><a href="#">Home </a></li>
                        <li class="nav-option"><a href="#game-section">Games </a></li>
                        <li class="nav-option"><a href="#about-section">About </a></li>
                        <li class="nav-option"><a href="#team-section">Team </a></li>
                        <li class="nav-option"><a href="#contact-section">Contact </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</navbar>