<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="image/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="style/style.css">
  <title>EMAG Studio</title>
</head>

<body>
  {{>navbar}}

  <section>
    <div class="home-image-div">
      <img src="image/emag-home-main.png" alt="Emag Studio">
    </div>
  </section>

  {{!-- Game --}}
  <section id="game-section">
    <div class="section-title-div">
      <p class="section-title-background">Download Now</p>
      <p class="section-title">Our Games</p>
    </div>
    <div>
      <ul>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.EMAGStudios.SpotOut">
            <img src="image/spot_out_game.png" alt="Spot Out Game">
            <a href="https://play.google.com/store/apps/details?id=com.EMAGStudios.SpotOut">SPOT OUT </a>
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=com.ShubhoCH.TheDrifter">
            <img src="image/the_drifter_game.jpeg" alt="The Drifter Game">
            <a href="https://play.google.com/store/apps/details?id=com.ShubhoCH.TheDrifter">THE DRIFTER </a>
          </a>
        </li>

      </ul>
    </div>
  </section>
  {{!--End Game --}}

  {{!-- About --}}
  <section id="about-section">
    {{!-- <div class="section-title-div">
      <p class="section-title-background">Comming Soon</p>
      <p class="section-title">Upcoming Games</p>
    </div> --}}
    <div class="about-front">
      <div class="para">
        <div class="blank-card"></div>
        <p class="title">About Us</p>
        <p>
          We are a group of passionate people and we’re problem solvers in creative ways hence we design Games, Apps and
          any sort of design aspects. Emag Studios is highly determined and
          enthusiastic towards the field of game development. We vary in field from Game Artist to Game
          Developer and from animators to illustrators.
        </p>
        <p>
          Our Mission is to provide unique concepts to the kids genres on mobile platforms. Give them
          great learning experiences through playing and having fun.

        </p>
        <p>
          Our Vision is to get our hands on different platforms and get our games out there through all
          these mediums and to create unique gameplay experiences which no other games have come
          up with.
        </p>
      </div>

      <div class="image">
        <img src="image/about-emag.png" alt="About Emag Studio" loading="lazy">
      </div>
    </div>
  </section>
  {{!--End About --}}

  {{!-- Team --}}
  <section id="team-section">
    <div class="section-title-div">
      <p class="team-title-back ">Team members</p>
      <p class=" team-title">Our team</p>
    </div>
    <div class="team-members">
      <div class="member">
        <img src="image/shubho_chakraborty.jpg" alt="Shubho Chakraborty" loading="lazy">
        <div>
          <p class="name">Shubho Chakraborty</p>
          <p class="designation">Founder</p>
          <ul>
            <li><a href="https://www.linkedin.com/in/shubho-chakraborty-05852618b/"><i
                  class="fab fa-linkedin-in"></i></a> </li>
            <li><a href="https://www.instagram.com/me_shubho/"><i class="fab fa-instagram"></i></a> </li>
          </ul>
        </div>
      </div>

      <div class="member">
        <img src="image/jackson-charles.jpg" alt="Jackson Charles" loading="lazy">
        <div>
          <p class="name">Jackson Charles</p>
          <p class="designation">Co-founder</p>
          <ul>
            <li><a href="https://www.linkedin.com/in/jackson-charles-b46101183"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li><a href="https://instagram.com/ink_redemption_?igshid=m4517eg3s5m"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="member">
        <img src="image/mohit-bora.jpg" alt="Mohit Bora" loading="lazy">
        <div>
          <p class="name">Mohit Bora</p>
          <p class="designation">2D Animator</p>
          <ul>
            <li><a href="https://www.linkedin.com/in/mohit-bora-9673081a7"><i class="fab fa-linkedin-in"></i></a> </li>
            <li><a href="https://instagram.com/mohitdraws?igshid=it8xqsavl0hj"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>


      {{!-- <div class="member">
        <img src="image/team-1.jpeg" alt="">
        <div>
          <p class="name">Dean Mead</p>
          <p class="designation">Gamer</p>
          <ul>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a> </li>
            <li><a href=""><i class="fab fa-instagram"></i></a> </li>
          </ul>
        </div>
      </div>


      <div class="member">
        <img src="image/team-1.jpeg" alt="">
        <div>
          <p class="name">Dean Mead</p>
          <p class="designation">Gamer</p>
          <ul>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a> </li>
            <li><a href=""><i class="fab fa-instagram"></i></a> </li>
          </ul>
        </div>
      </div>


      <div class="member">
        <img src="image/team-1.jpeg" alt="">
        <div>
          <p class="name">Dean Mead</p>
          <p class="designation">Gamer</p>
          <ul>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a> </li>
            <li><a href=""><i class="fab fa-instagram"></i></a> </li>
          </ul>
        </div>
      </div> --}}
    </div>
  </section>
  {{!-- End Team --}}

  {{!-- Contact --}}
  <section id="contact-section">
    <div class="contact-front">
      <div class="image">
        <img src="image/emag-contact.png" alt="Emag Studio Contact" loading="lazy">
      </div>
      <div class="para">
        <div class="blank-card"></div>
        <div class="form-div">
          <p class="title">Contact Us</p>

          <form id="formSubmit" class="contact-form" method="POST" autocomplete="off">
            <div class="form-control">
              <input type="text" name="name" id="userName" required>
              <label>Name</label>
            </div>

            <div class="form-control">
              <input type="email" name="email" id="userEmail" autocomplete="off" required>
              <label>E-mail</label>
            </div>
            <div class="form-control">
              <input type="text" name="mobile" id="userNumber" autocomplete="off" required>
              <label>Contact</label>
            </div>
            <div class="form-control">
                <textarea name="message" id="userMessage" cols="75" rows="5" placeholder="Type your message here!"></textarea>
              {{!-- <input type="text" name="interest" id="userInterest" required> --}}
              {{!-- <label>Interest<  /label> --}}
            </div>
            <button class="btn" type="submit" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{!--End Contact --}}

  {{!-- Footer --}}
  <footer id="footer-section">
    <div class="footer">
      <div class="footer-wrap">
        <div class="footer-div-left">
          <div class="part-1">
            <div class="logo">
              <img src="image/emag-logo.png" alt="Emag Studio Logo" loading="lazy" >
              <p><a href="#">EMAG Studios</a> </p>
            </div>
            <div class="navbar-options">
              <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#game-section">Games </a></li>
                <li><a href="#about-section">About </a></li>
                <li><a href="#team-section">Team </a></li>
                <li><a href="#contact-section">Contact </a></li>
              </ul>
            </div>
          </div>

          <div class="part-2">
            <p>
              Electronic City Phase 1, <br>
              Bangalore , Karnataka <br>
              India | 560105
            </p>
               <p>
              Email: <a href="mailto:email@example.com"> emagstudiosofficial@gmail.com </a>
              <br> Contact: (+91) <a href="tel:8073411754 ">8073411754 </a> || (+91) <a href="tel:8757014613 ">8757014613 </a>
            </p>
          </div>
          <div class="part-3">
            <p>Job | Game Dev Projects | Internship | Design Solutions </p>
          </div>
        </div>

        <div class="footer-div-right">
          <ul>
            <li><a href="https://play.google.com/store/apps/dev?id=4937986633529663469"><i class="fab fa-google-play"></i></a></li>
            <li><a href="https://instagram.com/emagstudios?igshid=kcr3w988wtzx"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/emag-studios/"><i class="fab fa-linkedin-in"></i></a></li>
            {{!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> --}}
          </ul>
        </div>
      </div>


    </div>
    <div class="copy-right">
      <p>© Copyright 2021 | All Rights Reserved</p>
    </div>
  </footer>
  {{!-- End Footer --}}

  <script src="script/script.js"></script>
</body>

</html>